.postCard {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: scale(1);

    &__title {
        margin: 0 0 10px;
    }

    &__desc {
        margin: 0;
        opacity: 0.75;
    }

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
}