.btn {
    font-family: 'Segoe UI', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}