.header {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    // Эффект матового стекла
    background: rgba(var(--header-bg-r, 255),
            var(--header-bg-g, 255),
            var(--header-bg-b, 255),
            0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); // поддержка Safari

    &__container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto 1fr;
        gap: 20px;
    }

    &__title {
        margin: 0;
        justify-self: start;
        color: var(--text-color);
    }

    &__btn-project {
        justify-self: center;
    }

    &__theme-switcher-btn {
        justify-self: end;
    }
}